/*main colors*/
$bgColor: #fff;
$red: #f15874;
$white: #fff;
$yellow: #ffe6ae;
$green: #4bbb4b;
$grey: #dfddda;
$blue: #4889ea;
$h1: #6d210a;
$auth: #a3d8ff;


/*table*/
$borderTD: #cec8c8;
$bgTH: #d8d6d6;
$bgEvenTD: #f2f2f2;